@import "materialize-src/sass/materialize.scss"

$colorNavAndFooter: #26a69a
%oneCss
  display: flex
$sum: (5+5)/2

body
  @extend %oneCss
  min-height: 100vh
  flex-direction: column

  &.login
     background: #f7f7f7

.main
  flex: 1 0 auto
  padding: $sum px 30px 0

.login-box,
.register-box
  padding: 20px
  margin-top: 200px

.main-navbar,
.custom-footer
  background-color: $colorNavAndFooter

.head-title
  padding: 12px

.form-add
  margin-top: 50px
